<h1>here are all of the comments!</h1>
<a href="/products">back</a>
<table>
	<tr>
		<td>Comment</td>
		<td>Product</td>
	</tr>
	<% @comments.each do |comment| %>
	<tr>
		<td><%= comment.comment %></td>
		<td><%= comment.product.name %></td>
	</tr>
	<% end %>
</table>
